body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;  
    
}

header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4af37;
}

main {
    padding: 30px;
    flex: 1;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

.banner img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.servico {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 6px solid #d4af37;
    border-radius: 6px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.foto {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.foto img {
    width: 100%;
    border-radius: 6px;
}

#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    font-size: 28px;
    padding: 12px 16px;
    border-radius: 50%;
    text-decoration: none;
}

.animar {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease;
}

.animar.mostrar {
    opacity: 1;
    transform: translateY(0);
}

input.erro, textarea.erro {
    border: 2px solid red;
}

input.correto, textarea.correto {
    border: 2px solid green;
}

.portfolio-link {
    text-decoration: none;
  }
  
  .portfolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .portfolio-box img {
    transition: 0.4s;
    width: 100%;
  }
  
  .portfolio-box:hover img {
    transform: scale(1.1);
    filter: brightness(0.6);
  }
  
  .portfolio-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: 0.4s;
    background: rgba(0,0,0,0.6);
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .portfolio-box:hover .portfolio-text {
    opacity: 1;
  }

  .card {
    margin-bottom: 20px;
  }
  
  
  
